.menu {
    display: none;
}

@media screen and (min-width: 769px) {
  .menu {
    display: flex;
    gap: 32px;
  }
}

.navLink {
    padding: 16px 0px;
}

.navLink:hover,
.navLink:focus {
    cursor: pointer;
}